* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 460px; /* Adjust the height as needed */
    overflow: hidden;
    background-image: url('https://res.cloudinary.com/dbpjafgz0/image/upload/v1707615235/lili_Banner_dcfzyl.png');
    background-size:cover;
    background-position: top;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background color */
}

.banner-text {
    position: absolute;
    top: 15%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: green;
    text-align: right;
    font-size: 24px;
    font-weight: bold;
}

main {
    padding-top: 20px; /* Add some padding to the top of the main section */
}

/* Additional styles for better readability */
h1 {
    margin-top: 10px;
    position: relative;
    top: 0%;
    left: 60%;
    color: green; /* Text color for h1 */
}

a:hover {
    color: rgb(43, 226, 49);
}

nav {
    position: absolute;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: black;
    bottom: 0; /* Position the nav at the bottom of the header */
    width: 100%;
    background-color: greenyellow; /* Background color for nav */
    padding: 5px;
    text-decoration:none;
    border-radius: 10px;
    border: 2px solid black;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
    color: #fff; /* Text color for list items */
}

article img {
    border-radius: 50%;
    border: 2px solid black;
    float: left;
    margin-right: 20px; /* Adjust the margin as needed */
    clear: both;

}
article {
    display:flexbox;
    color: black;
    background-color: lightgray;
    font-size: 24px;
    margin: 0 auto 20px;
    border: 2px solid black;
    padding: 50px;
    max-width: 80%;
    border-radius: 10px;
    
}

form {
    border: 2px dotted black;
    width: 40%;
    margin: 0 auto 20px;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;

}

input, textarea {
    padding: 5px;
    border-radius: 5px;
}

 h2 {
    text-align: center;
 }

 #unique {
    text-align: justify;
 }

footer {
    background-color: greenyellow;
    color: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

/* Add a general reset to ensure consistent styling */

/* Add this CSS to your style.css file */
#button {
    background-color: #4CAF50; /* Green background */
    border: black; 
    color: black; /* White text */
    padding: 20px 40px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as inline block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    cursor:pointer; /* Pointer cursor */
    border-radius: 10px; /* Rounded corners */
}

#button:hover {
    background-color: #45a049; /* Darker green background on hover */
}
